<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Car Database CRUD Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="container mx-auto content ">

    {% block header %}
    <header>
        <nav class="container flex justify-between px-4 py-6 mx-auto bg-red-400">
            <a class="text-2xl font-bold " href="/">
                Car List - the List of Cars
            </a>

            <ul class="flex flex-row">

                <li class="flex items-center justify-center px-4 py-2 rounded bg-cyan-500">
                    <a class="font-bold text-white" href="/new">Add New Car</a>
                </li>
            </ul>

        </nav>
    </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>

</html>