{% extends 'base.html' %}
{% block header %}
{%endblock%}
{%block content%}
<div class="flex flex-col flex-wrap justify-center lg:flex-row align-items-center space-y-12 ">
    {% for car in car_list %}


    <div
        class="flex flex-col justify-center px-4 py-4 mx-4 bg-white rounded shadow-md  box-border basis-1/4 align-items-center hover:shadow-xl">
        <a href="/cars/{{car.id}}">
            <div class="mb-4 bg-gray-200 border-red-500 rounded-lg border-1 h-32
 "></div>
            <div class="container border-green-500 border-1">
                <ul class="w-full  decoration-none">
                    <li class="-mb-1 text-sm font-light capitalize text-black/50 w-">{{car.make}}</li>
                    <li class="text-lg font-bold capitalize">{{car.model}}</li>
                    <li class="">{{car.year}}</li>
                    <li class="before:content-['$']">{{car.price}}</li>
                    <li class="capitalize"><span
                            class="px-1.5 border-1 border-black/20 mr-2  bg-[{{car.color}}] rounded content-none">&nbsp;</span>{{car.color}}
                    </li>
                    <li class="after:content-[' miles'] text-md text-bold">{{car.mileage}}</li>
                </ul>
        </a>
        <form action="/cars/{{car.id}}/delete" method="post">
            <button class="py-4 text-sm text-gray-800 hover:text-red-500" value="{{car.id}}"
                name="delete">remove</button>
        </form>


    </div>

</div>

{%endfor%}
</div>
{% endblock %}