{% extends 'base.html' %}
{% block header %}
{%endblock%}
{%block content%}
<div class="absolute w-full h-screen inset-0 bg-black/40 flex align-items-center justify-center ">
    <div class="w-10/12 lg:w-1/2 h-auto bg-white rounded p-12">
        <h1 class="font-bold text-xl mb-6 ">Add a New Car</h1>
        <form method="post">
            <div class="form-group flex flex-col w-full mx-auto">
                <label for="make" class="text-sm font-medium">Make</label>
                <input class="px-2 text-black/70 border-1 border-black/50 py-2 my-2 rounded" type="text"
                    name="make"></input>
            </div>
            <div class="form-group flex flex-col w-full mx-auto">
                <label for="model" class="text-sm font-medium">Model</label>
                <input class="px-2 text-black/70 border-1 border-black/50 py-2 my-2 rounded" type="text"
                    name="model"></input>
            </div>
            <div class="form-group flex flex-col w-full mx-auto">
                <label for="year" class="text-sm font-medium">Year</label>
                <input class="px-2 text-black/70 border-1 border-black/50 py-2 my-2 rounded" type="text"
                    name="year"></input>
            </div>
            <div class="form-group flex flex-col w-full mx-auto">
                <label for="color" class="text-sm font-medium">Color</label>
                <input class="px-2 text-black/70 border-1 border-black/50 py-2 my-2 rounded" type="text"
                    name="color"></input>
            </div>
            <div class="form-group flex flex-col w-full mx-auto">
                <label for="mileage" class="text-sm font-medium">Mileage</label>
                <input class="px-2 text-black/70 border-1 border-black/50 py-2 my-2 rounded" type="text"
                    name="mileage"></input>
            </div>
            <div class="form-group flex flex-col w-full mx-auto">
                <label for="price" class="text-sm font-medium">Price</label>
                <input class="px-2 text-black/70 border-1 border-black/50 py-2 my-2 rounded" type="text"
                    name="price"></input>
            </div>
            <input class="mt-2 py-2 px-12 rounded bg-blue-500 text-white font-bold font-lg" type="submit"
                value="Add Car">
        </form>

    </div>

</div>
{% endblock %}