{% extends 'base.html' %}
{% block header %}
<h1>Edit Product</h1>
{% endblock %}
{%block content%}
{% if product %}
<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{product.name}}" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" value="{{product.description}}" />
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price" value="{{product.price}}" />
    </div>
    <input class="my-2 btn btn-primary" type="submit" value="Submit" />
</form>
{% else %}
<h2>No product with that id found</h2>
{% endif %}
{% endblock %}