{% extends 'base.html' %}
{% block header %}
<h1>Products</h1>
{% endblock %}
{% block content %}

<table class="table">
    <thead>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>price</th>

    </thead>
    <tbody>
        {% for product in products %}
        <form action="/products/{{product.id}}/delete" method="post" >
        <tr>
            <td> {{ product.id }}</td>
            <td> {{ product.name }}</td>
            <td> {{ product.description }}</td>
            <td> {{ product.price }}</td>
            <td>
                <a href="products/{{ product.id }}" class="btn btn-success btn-md">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>

                    <button type="submit" name="delete" value="{{product.id}}" class="glyphicon glyphicon-trash">Delete</button>


            </td>
        </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
{% endblock %}